@import '../../styles/palette.scss';

.container {
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    justify-content: start;

    & > :first-child {
        align-self: flex-end;
    }

    .loading {
        color: $dark-font;
        margin: 16px auto;
    }
}
