@import '../../styles/palette.scss';

.container {
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    justify-content: start;

    & > :first-child {
        align-self: flex-end;
    }

    .group-info {
        text-transform: uppercase;
        color: $light-font;
        font-weight: 600;
    }

    .loading {
        margin: 16px auto;
    }
}
