$light-grey: rgb(238, 238, 238);
$grey: rgb(200, 200, 200);
$dark-grey: rgb(134, 147, 156);

$white: rgb(255, 255, 255);

$light-font: rgb(125, 131, 134);
$dark-font: rgb(70, 79, 82);

$dark-blue: rgb(68, 140, 193);
$blue: rgb(128, 193, 228);
