@import '../../styles/palette.scss';

.container {
    max-width: 95%;
    margin: 16px auto;
    padding: 8px;

    & > header {
        color: $dark-font;
    }

    .filters {
        position: sticky;
        top: -2px;
        background: $white;
        padding: 16px 0;
        opacity: 0.95;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 144px;
    }
}

@media screen and (min-width: 769px) {
    .container {
        max-width: 760px;

        .filters {
            padding-right: 300px;
        }
    }
}
