@import '../../styles/palette.scss';

.container {
    position: relative;
    display: inline-block;
    width: 180px;
    cursor: pointer;
    color: $blue;

    .input {
        position: relative;
        border: 1px solid $blue;
        border-radius: 16px;
        height: 32px;
        padding: 4px 32px 4px 24px;
        font-size: 14px;
        line-height: 22px;

        .triangle {
            position: absolute;
            right: 8px;
        }
    }

    .options {
        position: absolute;
        z-index: 2;
        width: 100%;
        background: $white;
        padding: 4px 0;
        border: 1px solid $blue;
        border-radius: 16px;
        overflow: hidden;
        opacity: 0.9;

        & > div {
            padding: 4px 24px;
            height: 24px;

            &:hover {
                background: $light-grey;
            }
        }
    }

    .backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        cursor: auto;
    }

    &.disabled {
        color: $grey;

        .input {
            border-color: $grey;
        }
    }
}
